[package]
name = "rust_cast"
description = "Library that allows you to communicate with Google Cast enabled devices (e.g. Chromecast)."
documentation = "https://docs.rs/crate/rust_cast/"
homepage = "https://github.com/azasypkin/rust-cast"
repository = "https://github.com/azasypkin/rust-cast"
readme = "README.md"
license = "MIT"
keywords = ["cast", "chromecast", "google"]
version = "0.21.0"
authors = ["Aleh Zasypkin <aleh.zasypkin@gmail.com>"]
categories = ["api-bindings", "hardware-support", "multimedia"]
edition = "2024"
exclude = [
    ".github/*",
    "examples/*",
    "protobuf/*",
]

[dependencies]
byteorder = "1.5"
log = "0.4"
protobuf = "=3.7.2"
rustls = "0.23"
rustls-native-certs = "0.8"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"

[dev-dependencies]
ansi_term = "0.12"
docopt = "1"
env_logger = "0.11"
mdns-sd = "0.11"

[build-dependencies]
protobuf-codegen = "=3.7.2"

[features]
thread_safe = []
cast = []
